.Announcement-title {
  text-align: center;
  background-color: #184D6A;
  padding: 5px;
}

.Announcement-title h1 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.Announcement-list .image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


