.AboutUs-title {
  text-align: center;
  background-color: #38480A;
  padding: 5px;
}
  
.AboutUs-title h2 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.AboutUs img {
  max-width: 100vw;
  max-height: 100vw;
  object-fit: fill; 
}

.insta-icon {
  font-size: 5vw;
  color: white;
}

.clock-icon, .phone-icon, .arrow-icon {
  color: white;
}

.AboutUs-description {
  background-color: #272D06;
  color: white;
  border-bottom: 1px solid #615B5B;
  padding:5px;
  margin:0;
}

.AboutUs-description p {
  margin:0;
}